<div class="container-fluid layout">
  <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0 bg-white">
    <div class="nav-wrapper">
      <ul id="userMenu" class="nav flex-column collapse show">
        <li class="nav-item">
          <a class="nav-link">
            <i class="fas fa-user"></i>
            <span>Học phí</span>
          </a>
        </li>

      </ul>
    </div>
  </aside>
  <!-- End Main Sidebar -->
  <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
    <!-- / .main-navbar -->
    <div class="main-content-container container-fluid px-2 px-md-4">

    </div>
  </main>
</div>
